body {
	font-family: times;
    font-size: 15.5px;
    line-height: 1.5;
	margin: 15.5px;
    
}

summary {
	cursor: pointer;
}

img{
max-height: 100vh;
	display: block;

}



a:hover {
	/*color: #ede0ca;*/
	cursor: help;
}

div.images {
	margin: auto;
	width: 60%;


}
