body {
	font-family: courier;
    font-size: 15px;
    font-weight: regular;
    line-height: 19px;


    
}

summary {
	cursor: pointer;
}
div.wrapper {
	position: fixed;
		margin: 15px;
		margin-right: 15px;

    
}
img{
max-height: 100vh;
	display: block;

}

a {
	text-decoration: none;
	color:purple;
}

a:hover {
	cursor: help;
	color: grey;
}

div.images {
	margin: auto;
	width: 60%;


}

