body {
	font-family: times;
    font-size: 15.5px;
    line-height: 1.4;
	margin: 20px;
    
}

summary {
	cursor: pointer;
}
div.wrapper {
	position: fixed;
		margin: 20px;
		margin-right: 15px;

    
}
img{
max-height: 100vh;
	display: block;

}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	/*color: #ede0ca;*/
	cursor: help;
	color: grey;
}

div.images {
	margin: auto;
	width: 60%;


}
